SPRING_DATASOURCE_USERNAME=tandem
SPRING_DATASOURCE_PASSWORD=REPLACE_WITH_DB_PASSWORD
POSTGRES_USER=tandem
POSTGRES_PASSWORD=REPLACE_WITH_DB_PASSWORD
GARAGE_ACCESS_KEY=REPLACE_WITH_GARAGE_ACCESS_KEY
GARAGE_SECRET_KEY=REPLACE_WITH_GARAGE_SECRET_KEY
